<dx-tree-view
  id="treeView"
  [dataSource]="products"
  dataStructure="plain"
  keyExpr="ID"
  displayExpr="name"
  parentIdExpr="categoryId"
  itemTemplate="productTemplate"
  searchEnabled=true
  searchMode="startswith"
  selectionMode="single"
  selectByClick=true
  (onItemSelectionChanged)="selectProduct($event)"
>
  <div *dxTemplate="let product of 'productTemplate'">
    {{ product.price ? product.name + " ($" + product.price + ")" : product.name }} 
  </div>
</dx-tree-view>
<div id="product-details" *ngIf="currentProduct.price">
    <img [src]="currentProduct.image" />
    <div class="name">{{currentProduct.name}}</div>
    <div class="price">${{ currentProduct.price }}</div>
</div>